venv/
.env
output.yaml
output.yaml:Zone.Identifier
app.py:Zone.Identifier
.env:Zone.Identifier
requirements.txt:Zone.Identifier
# Ignorar arquivos :Zone.Identifier
**/*.Identifier
**/*_old.py
**/*cpython-312.pyc